<div class="container">
  <header class="header mt-3 mb-4">
    <h1>General Insurance Policy</h1>
  </header>

  <div>
    <marquee behavior="scroll" direction="left" class="bg-warning text-danger">
      <h2><strong>Welcome to Our Insurance System</strong></h2>
    </marquee>
  </div>

  <section class="hero mt-4">
    <div class="hero-content text-center">
      <h1 class="mb-3">Protect What Matters Most</h1>
      <p class="mb-5">Explore our reliable insurance policies tailored for your needs.</p>

      <div class="row justify-content-center">
        <div class="col-md-5 mb-4 animate-slide-left bg-dark text-primary rounded">
          
              <h2 class="text-warning"> Why choose fire insurance for your business?</h2>
              <P><strong>This fire insurance policy offers reliable coverage for properties with total asset values up to rs. 50
              crore at the policy commencement date. It safeguards against losses arising from unexpected events that
              result in fire & lightning damage. The policy includes a waiver on underinsurance of up to 25%, ensuring
              enhanced financial protection.
            </strong></P>
          <div class="container">
            <div class="mb-5">
                <button type="button" class="add-button rounded" routerLink="/"><h4><b><i>Explore Fire Insurance</i></b></h4></button>
            </div>
         </div>

        </div>
        <div class="col-md-1 offset-md-1 d-flex align-items-center">
          <hr class="vr h-75">
        </div>
        <div class="col-md-5 mb-4 animate-slide-right">
          <img src="/img/home-protection-crystal-barrier-fire-260nw-702188062.webp" height="300px" class="rounded w-100"
            alt="Insurance Image 2">
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 mb-4 animate-slide-left">
          <img src="/img/360_F_227916353_JqJA3wVCUZUNeWHgd78ZO9W0GrbhiwSr.jpg" height="300px" class="rounded w-100"
            alt="Insurance Image 2">
        </div>
        <div class="col-md-1 offset-md-1 d-flex align-items-center">
          <hr class="vr h-75">
        </div>
        <div class="col-md-5 mb-4 animate-slide-right bg-dark text-light rounded">
         <h2 class="text-warning">Protect Your Car, Protect Your Peace of Mind</h2>

           <p><strong> Car insurance is more than just a legal requirement—it's a safeguard for you, your vehicle, and your loved
          ones. Our comprehensive car insurance plans cover accidents, theft, natural disasters, and third-party
          liabilities, ensuring that you stay protected on every journey. With affordable premiums and reliable support,
          we make sure your ride is always secure, so you can drive with confidence.</strong></p>
          <div class="">
            <div class="mb-5">
                <button type="button" class="add-button rounded" routerLink="#"><h4><b><i>Explore Car Insurance</i></b></h4></button>
            </div>
         </div>
        </div>
        
      </div>
    </div>
  </section>
</div>